body{
    background: #02142b;
    display: block;
    text-align: center;
    margin-top: 50px;
    /*box-sizing: border-box;*/
}
h3 {
    position: relative;
    display: inline-block;
    color: #9cb9fc;
}
.d7 h3 {
    padding-bottom: 10px;
}
.d7 h3:before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    margin-left: -25%;
    width: 50%;
    height: 2px;
    background: linear-gradient(to right, #380cac, #2b95d9, #f37ea6, #f59a8f);
}
.d7 h3:after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 50%;
    margin-left: -15%;
    width: 30%;
    height: 2px;
    background: linear-gradient(to right, #380cac, #2b95d9, #f37ea6, #f59a8f);
}
.main-text {
    /*border: 2px double;*/
    padding: 10px 20px 10px 20px;
    margin: 20px auto;
    width: 800px;
    /*color:  #380cac;*/
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    /*text-transform: uppercase;*/
    overflow: hidden;
    letter-spacing: 2px;
    transition: .8s cubic-bezier(.165, .84, .44, 1);
    /*border-image: linear-gradient(180deg, #380cac, #2b95d9, #f37ea6, #f59a8f);*/
    /*border-image-slice: 1;*/
    /*background: aliceblue;*/
}

.second-text {
    border: 2px double;
    padding: 10px 20px 10px 20px;
    margin: 20px auto;
    width: 800px;
    color: #7ca2e8;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    /*text-transform: uppercase;*/
    overflow: hidden;
    letter-spacing: 2px;
    transition: .8s cubic-bezier(.165, .84, .44, 1);
    border-image: linear-gradient(180deg, #380cac, #2b95d9, #f37ea6, #f59a8f);
    border-image-slice: 1;
}

@media screen and (max-width: 860px){
    .main-text {
        font-size: 17px;
        width: 600px;
    }
    .second-text {
        width: 600px;
    }
}
@media screen and (max-width: 600px){
    .main-text {
        font-size: 17px;
        width: 400px;
    }
    .second-text {
        width: 400px;
    }
}
@media screen and (max-width: 450px){
    .main-text {
        font-size: 17px;
        width: 300px;
    }
    .second-text {
        width: 300px;
    }
}
@media screen and (max-width: 350px){
    .main-text {
        font-size: 15px;
        width: 250px;
    }
    .second-text {
        width: 200px;
    }
    .sliding-button {
        font-size: 10px;
    }
}

.sliding-button {
    text-decoration: none;
    color: #c9d7fd;
    font-size: 15px;
    display: inline-block;
    position: relative;
    padding: 15px 30px;
    border: 1px solid;
    border-image: linear-gradient(to right, #380cac, #2b95d9, #f37ea6, #f59a8f);
    border-image-slice: 1;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    letter-spacing: 2px;
    transition: .8s cubic-bezier(.165, .84, .44, 1);
}
.sliding-button:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    z-index: -1;
    color: #ffffff;
    background: linear-gradient(to right, #380cac, #2b95d9, #f37ea6, #f59a8f);
    transition: .8s cubic-bezier(.165, .84, .44, 1);
}
.sliding-button:hover {
    background: rgba(255, 255, 255, 0);
}
.sliding-button:hover:before {
    bottom: 0%;
    top: auto;
    height: 100%;
}