<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Что? Зачем?</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div class="second-text">
    <p>И так, у нас тусовка посвящена Хэлоуину, поэтому предлагаю:</p>
    <p>Придумать тематический элемент одежды</p>
    <p>Макияж</p>
    <p>Либо не парится и просто прийти, ведь все что выше по желанию</p>
</div>
<div class="second-text">
    <p><i style="color: red">ВАЖНО!</i> Желательно те кто живут не на западном остаться с ночевкой (Если есть такая возможность)</p>
</div>
<div class="second-text">
    <p><i style="color: #e0f65d">Примечание!</i> Если вы не пьете самогон, то взять с собой что будете пить. Потому что если будем играть в литрбол пить должны все (в каком количестве решать самому)</p>
</div>
<div class="second-text">
    <p><i style="color: #e0f65d">Самое главное!!!</i> Зачем мы все собираемся??????</p>
    <p><a href="/grass">Тыкай сюда</a></p>
</div>
</body>
</html>