<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Игры</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div class="main-text">
    <p>На счет игр долго думал, вот что предлагаю:</p>
</div>
<div class="second-text">
    <p><i>New!</i> Литр бол - делимся на две команды (мальчики и девочки), у каждой команды по равному количеству стаканчиков с алкоголем на
        выбор
        в которые противоположная команда должна попасть мячиком (для пинг понга), если мячик в стаканчике команда
        которой он
        выпивает из него (пьют все по очереди). Команда у которой не осталось стаканчиком проигрывает</p>
</div>
<div class="second-text">
    <p>Alias - куда же без него</p>
</div>
<div class="second-text">
    <p>Крокодил - в тот раз вроде понравился</p>
</div>
</body>
</html>