<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Title</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>

</head>
<body>
<div class="d7 main-text">
    <h3>Welcome to The Karen-Web</h3>
</div>
<a href="/main/control-panel" class="sliding-button">Control Panel</a>
<a href="/ping" class="sliding-button">Check Connection</a>

</body>
</html>