<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Главная</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>

</head>
<body>
<div class="main-text">
    <p>Привет, Денис </p>
    <p>Приглашаю <i>31.10.2022</i> на <i>18:00</i> праздновать Helloween</p>
<!--    <p>Адрес: <a href="https://goo.gl/maps/kYjniS7NTzPn8EgY8">Дагестанская ул., 16, Дніпро́, Днепропетровская область, 49000</a></p>
-->
</div>
<a href="/eat" class="sliding-button">Покушать</a>
<a href="/game" class="sliding-button">Игры</a>
<a href="/users" class="sliding-button">Кто будет</a>
<a href="/about" class="sliding-button">Что? Зачем?</a>
</body>
</html>